header, footer{
  background-color: purple;
  width: 80px;
  height: 100px;
  margin: auto;
}

main{
  background-color: yellow;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.cols{
  width: 49.5%;
  height: 400px;
  background-color: red;
  display: inline-block;
  vertical-align: top;

}
