@import "pages.css";



#grid1{
  display: block;
  grid-template-areas: "col1 col2";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  text-align: center;
  margin-top: 50px;
}

#grid2{
    display: block;
    grid-template-areas: "col3 col4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    text-align: center;
}

#grid3{
  display: block;
  grid-template-areas: "col5 col6";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  text-align: center;
}

#footergrid{
  display: grid;
  grid-template-areas: "footer1";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  text-align: center;
}

.images{
  display: block;
  height: 200px;
}

nav{
  width: 100%;
  height: 200px;
  background-color: PaleVioletRed;
  margin: 0 auto;
  display: block;
}

nav ul li{
  list-style: none;
  width: 100%;
  margin: 0 auto;
  display: block;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

nav ul li a:hover{
  background-color: pink;
}
