header{
  width: 80%;
  height: 225px;
  background-color: lightpink;
  margin: auto;
  text-align: center;
  margin-top: 15px;
}

main{
  width: 80%;
  height: auto;
  background-color: white;
  margin: auto;
  margin-top: 15px;
}

footer{
  width: 80%;
  height: 200px;
  background-color: lightpink;
  margin: auto;
  text-align: center;
  margin-top: 25px;
}

#grid1{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  margin-top: 25px;
}

#col1{
  grid-area: col1;
  height: auto;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  margin: auto;
}

#col2{
  grid-area: col2;
  height: auto;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
}

#grid2{
  display: grid;
  grid-template-areas: "col3 col4";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin-top: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

#col3{
  grid-area: col3;
  background-color: white;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

#col4{
  grid-area: col4;
  height: auto;
  background-color: white;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin: auto;
}

#grid3{
  display: grid;
  grid-template-areas: "col5 col6";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin-top: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

#col5{
  grid-area: col5;
  background-color: white;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

#col6{
  grid-area: col6;
  background-color: white;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}


#footergrid{
  display: grid;
  grid-template-areas: "footer1";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#footer1{
  grid-area: footer1;
  background-color: lightpink;
  height: auto;
  text-align: center;
}

.images{
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.images2{
  height:175px;
  display: block;
  margin: 10px auto;
  border: dashed;
  border-width: 5px;
  border-color: PaleVioletRed;
}

h1{
  font-family: 'Lobster Two', cursive;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  margin-top: 49px;
}

h2{
  font-family: 'Lobster Two', cursive;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  margin-top: 60px;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: gray;
  text-align: center;
  margin: 20px;
}

nav{
  width: 500px;
  height: 50px;
  background-color: PaleVioletRed;
  margin: 0 auto;

}

nav ul{
  margin-left: -30px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}

nav ul li a:hover{
  background-color: pink;
