header, footer{
  width: 80%;
  height: 200px;
  background-color: lightpink;
  margin: auto;
  text-align: center;
  margin-top: 15px;
}
main{
  width: 80%;
  height: auto;
  background-color: white;
  margin: auto;
  margin-top: 15px;
}

#grid1{
  display: grid;
  grid-template-areas: "col1";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: grey;
}

#col1{
  grid-area: col1;
  background-color: white;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#grid2{
  display: grid;
  grid-template-areas: "col2 col3 col4 col5";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr;
  margin-top: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

#col2{
  grid-area: col2;
  background-color: white;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#col3{
  grid-area: col3;
  background-color: white;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}
#col4{
  grid-area: col4;
  background-color: white;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

#col5{
  grid-area: col5;
  background-color: white;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


#footergrid{
  display: grid;
  grid-template-areas: "footer1 footer2 footer3";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 33.3% 33.3% 33.3%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#footer1{
  grid-area: footer1;
  background-color: lightpink;
  height: auto;
}

#footer2{
  grid-area: footer2;
  background-color: lightpink;
  height: auto;
}

#footer3{
  grid-area: footer3;
  background-color: lightpink;
  height: auto;
}

.images{
  height: 300px;
  display: block;
  margin: 0 auto;
}

.images2{
  height:175px;
  display: block;
  margin: 10px auto;
}

h1{
  font-family: 'Lobster Two', cursive;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 30px;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: gray;
  text-align: center;
}

nav{
  width: 500px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
}

nav ul{
  margin-left: -30px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}

nav ul li a:hover{
  background-color: pink;
