body{
  background-color: gainsboro;

  font-family: 'Handlee', cursive;
}

#box1{
  background-color: white;
  width: 940px;
  height: auto;
  padding:10px;
}

#box2{
  background-color: pink;
  width: 940px;
  height: auto;
  padding: 10px;
}

#box3{
  background-color: white;
  width: 940px;
  height: auto;
  padding: 10px;
}

#box4{
  background-color: white;
  width: 940px;
  height: auto;
  padding: 10px;
}

#changeText{
  color: PaleVioletRed;
  font-weight: bold;
  text-decoration: underline;
}

#border{
  color: MediumTurquoise;
  border-width: 5px;
  border-style: dashed;
  margin: 0 auto;
  margin-top: 25px;
}

h1{
  color: white;
  font-family: 'Lobster', cursive;
}

h2{
  text-align: center;
  background-color: white;
  margin: 0 auto;
  margin-top: 25px;
}

address{
  text-align: center;
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
}

h5{
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
  font-weight: 900;
}

a:hover{
  color: white;
  text-decoration: underline;
}


/* a:visited{
  color: white;
} */

p{
  line-height: 75px;
  text-indent: 50px;
}

li{
  list-style: circle;
}

ul li{
  list-style: circle;
}


#name{
  text-align: center; 
}


.strong{
  background-color: MediumTurquoise;
}

.links{
  color: MediumTurquoise;
}

header{
  height: 200px;
  width: 950px;
  background-color: pink;
  margin: 0 auto;
  margin-top: -25px;
}

main{
  background-color: gainsboro;
  width:960px;
  height:auto;
  margin: 0 auto;
  margin-top: -16px;
}

footer{
  background-color: pink;
  width:960px;
  height:auto;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}
