/*CSS Comment*/

body{
  background-color: orange;
  background-color: #333333;
  background-color: rgb(300,255,0);
  /*different ways to do it*/

  /*change the font family*/
  font-family: sans-serif;
  font-family: monospace;
}
h1{
  color: pink;
  background-color: blue;
}

a{
  text-decoration: none;
  color: purple;
  font-weight: 900;
}

a:hover{
  color: white;
  text-decoration: underline;
}
/*if you move mouse over website, links respond*/

a:visited{
  color: red;
}

p{
  line-height: 75px;
  text-indent: 50px;
}

li{
  list-style: circle;
}

ul li{
  list-style: circle;
}
/*if I just want to change ordered lists*/

#name{
  text-align: center;
  background: cyan;
}
.links{
  color: cyan;
}
/*change links*/
